# Explore Scientific PMC-Eight INDI driver ownership.
#
# GitHub will request this account for PRs that touch PMC-Eight driver files.
# If this repository is later moved under a GitHub organization, replace
# @ExploreScientific with an engineering team such as
# @ExploreScientific/pmc-eight-indi-maintainers.

/.github/CODEOWNERS @ExploreScientific
/.github/PULL_REQUEST_TEMPLATE/pmc8_driver_change.md @ExploreScientific
/explorescientific/ @ExploreScientific

/drivers/telescope/pmc8.cpp @ExploreScientific
/drivers/telescope/pmc8.h @ExploreScientific
/drivers/telescope/pmc8driver.cpp @ExploreScientific
/drivers/telescope/pmc8driver.h @ExploreScientific
